{% extends "layout.html" %}

{% block page_title %}
Multiple choice radio buttons
{% endblock %}

{% block head %}
{% include "includes/head.html" %}
{% include "includes/scripts.html" %}
{% endblock %}

{% import "templates/button.html" as button %}

{% block content %}
    <main id="content" role="main">
        {% include "includes/phase_banner_alpha.html" %}
        {% include "includes/buttons/back.html" %}
        <div class="grid-row">
            <div class="column-two-thirds">
                <div class="error-summary" role="group" aria-labelledby="error-summary-heading" tabindex="-1" style="display: none">
                    <h1 class="heading-medium error-summary-heading" id="error-summary-heading">There was a problem</h1>

                    <p>Please amend the following details:</p>
                    <ul class="error-summary-list">
                        <li class="enjoyMost error-message"><a href="#enjoyMost-a1">Select an option</a></li>
                    </ul>
                </div>
                
                <h1 class="heading-large">Multiple choice radio buttons</h1>

                <form class="form">
                    <h2 class="heading-medium">What do you enjoy most about Interaction design?</h2>
                    
                    <div class="form-group" id="question1">
                        
                        <span class="enjoyMost error-message">
                            Select an option
                        </span>
                        
                        <fieldset>
                            
                            <legend class="visually-hidden">What do you enjoy most about Interaction design?</legend>

                            <div class="multiple-choice">
                                <input id="enjoyMost-a1" type="radio" name="enjoyMost" value="Wireframing">
                                <label class="block-label" for="enjoyMost-a1" id="enjoyMost-a1-label">Wireframing</label>
                            </div>
                            <div class="multiple-choice">
                                <input id="enjoyMost-a2" type="radio" name="enjoyMost" value="Problem solving">
                                <label class="block-label" for="enjoyMost-a2" id="enjoyMost-a2-label">Problem solving</label>
                            </div>
                            <div class="multiple-choice">
                                <input id="enjoyMost-a3" type="radio" name="enjoyMost" value="User-centricity">
                                <label class="block-label" for="enjoyMost-a3" id="enjoyMost-a3-label">User-centricity</label>
                            </div>
                            <div class="multiple-choice">
                                <input id="enjoyMost-a4" type="radio" name="enjoyMost" value="Making prototypes">
                                <label class="block-label" for="enjoyMost-a4" id="enjoyMost-a4-label">Making prototypes</label>
                            </div>
                            <div class="multiple-choice">
                                <input id="enjoyMost-a5" type="radio" name="enjoyMost" value="Coding">
                                <label class="block-label" for="enjoyMost-a5" id="enjoyMost-a5-label">Coding</label>
                            </div>
                            <div class="multiple-choice">
                                <input id="enjoyMost-a6" type="radio" name="enjoyMost" value="Designing mission patches">
                                <label class="block-label" for="enjoyMost-a6" id="enjoyMost-a6-label">Designing mission patches</label>
                            </div>
                            <p class="form-block">or</p>
                            <div class="multiple-choice">
                                <input id="enjoyMost-a7" type="radio" name="enjoyMost" value="Nothing, I don't even know why I'm here">
                                <label class="block-label" for="enjoyMost-a7" id="enjoyMost-a7-label">Nothing, I don't even know why I'm here</label>
                            </div>
                            
                        </fieldset>
                    </div>
                    {{ button.input(id='continue', name='continue', class='button', type='button', value='Continue') }}
                </form>
            </div>
        </div>
    </main>

    <script type="text/javascript">
        
        //this is what triggers any validation - it translates to 'on clicking something with the class 'button' perform 'validate' - we then set a function called 'validate later which runs a series of conditions for it to check
        $(".button").click(function(){
            // Enter function name here
            validate();
        });
        
        // this section is a bit hacky but it works perfectly for the system remembering if it's come from a check your answers page - when we come back to this page we want it to hide the back button - it looks to see if the url has '?change=true' at the end of it - this is important so that it can be re-routed back to the check your answers page
        var changing = location.search.split('change=')[1];
        if (changing === 'true') {
            $('.button-back').hide();
        }
        
        //this sets a function of 'validate' which runs through all the conditions set within it before either throwing up an error or letting it pass
        function validate() {

            //So, firstly we need to get our jquery to find the values of the radio button options
            var value = $('input[name=enjoyMost]:checked').val();

            //now we check to see if changing is true and the value is not (!==) undefined. This then tells the page to member the new answer but reroute to the check your answers page.
            if (changing == "true" && (value !== undefined)) {
                member.questions.enjoyMost = value;
                go('/DVLA/check-your-answers');
            //then we do the same but without checking the change variable to that it routes to the next page
            } else if (value !== undefined) {
                member.questions.enjoyMost = value;
                go('/DVLA//basic-path/basic-radio-disclosure');
            //once you've covered off all non-error conditions above the only thing left to do is to throw up an error. It now adds the error class and displays the error message.
            } else {
                $('#question1').addClass('form-group-error');
                $('.enjoyMost.error-message').show();
                $('.error-summary').show();
                $('body').scrollTop(0);
                $('.error-summary').focus();
            }
        }
    </script>
{% endblock %}
