{% extends "layout.html" %}

{% block page_title %}
Dynamic radio buttons (part 1)
{% endblock %}

{% block head %}
{% include "includes/head.html" %}
{% include "includes/scripts.html" %}
{% endblock %}

{% import "templates/button.html" as button %}

{% block content %}
<main id="content" role="main">
    {% include "includes/phase_banner_alpha.html" %}
    {% include "includes/buttons/back.html" %}
    <div class="grid-row">
        <div class="column-two-thirds">
            <div class="error-summary" role="group" aria-labelledby="error-summary-heading" tabindex="-1" style="display: none">
                <h1 class="heading-medium error-summary-heading" id="error-summary-heading">There was a problem</h1>

                <p>Please amend the following details:</p>
                <ul class="error-summary-list">
                    <li class="qfuelType error-message"><a href="#fuelType-petrol">Select an option</a></li>
                </ul>
            </div>
            
            <h1 class="heading-large">Dynamic radio buttons (part 1)</h1>

            <form class="form">
                <h2 class="heading-medium">What is the fuel type of your vehicle?</h2>

                <div class="form-group" id="qfuelType">

                    <span class="fuelType error-message">
                        Select an option
                    </span>

                    <fieldset>

                        <legend class="visually-hidden">What is the fuel type of your vehicle?</legend>

                        <div class="multiple-choice">
                            <input id="fuelType-petrol" type="radio" name="fuelType" value="Petrol">
                            <label class="block-label" for="fuelType-petrol" id="fuelType-petrol-label">Petrol</label>
                        </div>
                        <div class="multiple-choice">
                            <input id="fuelType-diesel" type="radio" name="fuelType" value="Diesel">
                            <label class="block-label" for="fuelType-diesel" id="fuelType-diesel-label">Diesel</label>
                        </div>
                        <div class="multiple-choice">
                            <input id="fuelType-alternative" type="radio" name="fuelType" value="Alternative fuel (electric, hybrid or gas)">
                            <label class="block-label" for="fuelType-alternative" id="fuelType-alternative-label">Alternative fuel (electric, hybrid or gas)</label>
                        </div>

                    </fieldset>
                </div>
                {{ button.input(id='continue', name='continue', class='button', type='button', value='Continue') }}
            </form>
        </div>
    </div>
</main>

<script type="text/javascript">

    //this is what triggers any validation - it translates to 'on clicking something with the class 'button' perform 'validate' - we then set a function called 'validate later which runs a series of conditions for it to check
    $(".button").click(function(){
        // Enter function name here
        validate();
    });

    // this section is a bit hacky but it works perfectly for the system remembering if it's come from a check your answers page - when we come back to this page we want it to hide the back button - it looks to see if the url has '?change=true' at the end of it - this is important so that it can be re-routed back to the check your answers page
    var changing = location.search.split('change=')[1];
    if (changing === 'true') {
        $('.button-back').hide();
    }

    //this sets a function of 'validate' which runs through all the conditions set within it before either throwing up an error or letting it pass
    function validate() {

        //So, firstly we need to get our jquery to find the values of the radio button options
        var value = $('input[name=fuelType]:checked').val();

        //now we check to see if changing is true and the value is not (!==) undefined. This then tells the page to member the new answer but reroute to the check your answers page.
        if (changing == "true" && (value !== undefined)) {
            member.questions.fuelType = value;
            go('/DVLA/advanced-path/advanced-dynamic-radio-2?change=true');
            //then we do the same but without checking the change variable to that it routes to the next page
        } else if (value !== undefined) {
            member.questions.fuelType = value;
            go('/DVLA/advanced-path/advanced-dynamic-radio-2');
            //once you've covered off all non-error conditions above the only thing left to do is to throw up an error. It now adds the error class and displays the error message.
        } else {
            $('#qfuelType').addClass('form-group-error');
            $('.fuelType.error-message').show();
            $('.error-summary').show();
            $('body').scrollTop(0);
            $('.error-summary').focus();
        }
    }
</script>
{% endblock %}