{% extends "layout.html" %}

{% block page_title %}
Find your address
{% endblock %}

{% block head %}
{% include "includes/head.html" %}
{% include "includes/scripts.html" %}
<style type="text/css">
    input#postcode { text-transform: uppercase; }
</style>
{% endblock %}

{% import "templates/button.html" as button %}

{% block content %}
<main id="content" role="main" tabindex="-1">
    {% include "includes/phase_banner_beta.html" %}
    {% include "includes/buttons/back.html" %}
    <div class="grid-row">
        <div class="column-two-thirds">
            <div class="error-summary" role="group" aria-labelledby="error-summary-heading" tabindex="-1">
                <h1 class="heading-medium error-summary-heading" id="error-summary-heading">There’s a problem with the information you have provided</h1>

                <p>Please amend the following details:</p>
                <ul class="error-summary-list">
                    <li class="address1 error-message"><a href="#qaddress">Provide your new house number/name and street</a></li>
                    <li class="posttown error-message"><a href="#qposttown">Provide your new post town</a></li>
                    <li class="postcode error-message"><a href="#qpostcode">Provide your new postcode</a></li>
                    <li class="postcode error-message format"><a href="#qpostcode">Provide correct postcode format</a></li>
                </ul>
            </div>

            <h1 class="heading-large">Select your address from the list</h1>

            <form class="form">
                <div class="form-group">
                    <fieldset>
                        <legend class="visuallyhidden">Select your address from the list</legend>

                        <div class="form-group" id="addresslist">

                        </div>


                    </fieldset>
                </div>
                <!--  end .form-group  -->

            </form>
        </div>
        <!--  end column-two-thirds  -->
    </div>
    <!--  end gridrow  -->
</main>
<!--
122 Burns Crescent
Edinburgh
EH1 9GP
-->

<script type="text/javascript">
    var addressHTML = '';

    for (var i = 0; i < member.addresses.length; ++i) {
        addressHTML += '<p><a href="javascript:select('+ i +')">' + member.addresses[i].Line1 + ', ';

        if (member.addresses[i].Line2 !== '') {
            addressHTML += member.addresses[i].Line2 + ', ';
        }

        if (member.addresses[i].Line3 !== '') {
            addressHTML += member.addresses[i].Line3 + ', ';
        }

        if (member.addresses[i].Line4 !== '') {
            addressHTML += member.addresses[i].Line4 + ', ';
        }

        if (member.addresses[i].Line5 !== '') {
            addressHTML += member.addresses[i].Line5 + ', ';
        }

        addressHTML += member.addresses[i].City + ', ';

        addressHTML += member.addresses[i].PostalCode + '</a></p>';
    }

    addressHTML += '<p>or</p>';
    addressHTML += '<a href="address-manual">Enter address manually</a>';

    $('#addresslist').html(addressHTML);

    function select(index) {
        member.address = member.addresses[index];
        go('address-confirmation');
    }
</script>
{% endblock %}